* {
  /* font-weight: bold; */
  padding: 0;
  margin: 0;
}

:root {
/******** COLORS *******/
/* Body */
--color-white: #EDEDED;
/* theme */
--color-theme-dark:#002855;
--color-theme-dark2:#002047;
/* buttons */
--color-disabled-border: #dddddd;
--color-disabled-button: #469;
--color-disabled: #eee;


/* font colors */
--color-font-white: #fff;
/******** SIZES *******/

--font-size-header-lg: 50px;
--font-size-header-md: 40px;
--font-size-header-sm: 30px;
--font-size-header-xs: 20px;
--font-size-header-mobile: 15px;
--font-size-large: 30px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.MuiTypography-root.label {
  font-size: large;
  color: var(--color-theme-dark);
  font-weight: 600;
}

html, body {
  height: 100%;
  margin: 0;
}