* {
  /* font-weight: bold; */
  padding: 0;
  margin: 0;
}

:root {
/******** COLORS *******/
/* Body */
--color-white: #EDEDED;
/* header */
--color-dark-blue:#002855;
--color-dark-blue2:#002047;
--color-blue:#004f55;
/* buttons */
--color-disabled-border: #dddddd;
--color-disabled-button: #469;
--color-disabled: #eee;


/* font colors */
--color-font-white: #fff;
/******** SIZES *******/

--font-size-header-lg: 50px;
--font-size-header-md: 40px;
--font-size-header-sm: 30px;
--font-size-header-xs: 20px;
--font-size-header-mobile: 15px;
--font-size-large: 30px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}