#my-page-table-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-width: 510px;
    flex-grow: 1;
    overflow: hidden;
    /* min-height: calc(100vh - 290px); */
    border-radius: 8px;
}

#my-table-header {
    font-weight: 600;
}

#my-table-container {
    border: 1px solid var(--color-white);
    box-shadow: 1px 1px var(--color-white);
    border-radius: 8px;
    margin: 0 0 50px 0;
}

#my-table-body {
    overflow-y: auto;
}

.my-page-icon-button {
    cursor: pointer;
}

.damage-description-cell{
    cursor: pointer;
    max-width: 200px;
}
.damage-description-cell:hover{
    opacity: 50%;
}

#my-table-pagination .MuiTableCell-root{
    width: 100%;
    float: right;
}
@media only screen and (max-width:600px) {
    #table-wrapper {
        max-width: 320px;
        min-width: 0;
        width: 100vw;
        padding:20px;
        margin: 0;
        justify-content: center;
    }
}