#my-page-table-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    min-width: 510px;
    flex-grow: 1;
}

#table-header {
    font-weight: 600;
}

#table-content {
    overflow: hidden;
    border: 1px solid var(--color-white);
    box-shadow: 1px 1px var(--color-white);
    border-radius: 8px;
    /* max-height: 80vh;
    overflow-y: auto; */
}

.my-page-icon-button {
    cursor: pointer;
}

.damage-description-cell{
    cursor: pointer;
    max-width: 200px;
}
.damage-description-cell:hover{
    opacity: 50%;
}

@media only screen and (max-width:600px) {
    #table-wrapper {
        max-width: 320px;
        min-width: 0;
        width: 100vw;
        padding:20px;
        margin: 0;
        justify-content: center;
    }
}