#table-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    margin: 0 0 0 20px;
    min-width: 510px;
}

#table-header {
    font-weight: 600;
}

#table-content {
    overflow: hidden;
    border: 1px solid var(--color-white);
    box-shadow: 1px 1px var(--color-white);
    border-radius: 8px;
}

.label {
    font-size: large;
    color: var(--color-dark-blue);
    font-weight: 600;
}

@media only screen and (max-width:600px) {
    #table-wrapper {
        max-width: 320px;
        min-width: 0;
        width: 100vw;
        padding:20px;
        margin: 0;
        justify-content: center;
    }
}