#account-info-header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: var(--color-theme-dark);
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 10px;
    justify-content: space-between;
}

#last-login-box {
    padding: 12px 0 0 0;
}

#account-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 0 0 0;
    max-height: max-content;
    overflow-y: auto;
}

#account-info-box {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin-right: 50px;
}
#account-info-box-2 {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

#account-info-wrapper .account-info-input {
    margin-top: 16px;
}

#account-info-wrapper .access-icon{
    padding: 0 16px 0 0 ;
    color: var(--color-theme-dark);
}

#account-info-wrapper .access-checkbox-list{
    margin: 0 0 25px 0;
}

#account-save-button{
    align-self: flex-end;
    margin: 60px 0;
    width: 150px;
}

@media only screen and (max-width:600px) {
    #account-info-wrapper {
        margin: 20px 10px 100px 10px;
    }
    #account-info-box, #account-info-box-2 {
        width: 100vw;
        margin: 0;
        min-width: 0;
    }
    #account-save-button{
        width: 100%;
    }
}