#signup-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: var(--color-theme-dark);
    font-size: xx-large;
    font-weight: 600;
    padding-bottom: 10px;
}

#signup-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0 0;
}

#signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20vh 0;
}
#signup-container .MuiFormControl-root{
    margin: 8px 0;
}
#signup-container .MuiButtonBase-root{
    margin: 8px 0;
}

#signup-button-text {
    font-size: 18px;
    padding-left: 18px;
}

#password-requirement{
    border: 0.5px solid var(--color-white);
    padding: 4px;
    margin: 0 0 16px 0;
    border-radius: 4px;
}

#signup-container .signup-button-disabled, #signup-container .signup-button-disabled:hover {
    background-color: var(--color-secondary-gray);
}

@media only screen and (max-width: 600px) {
    #signup-container .MuiTypography-root {
        font-size: 16px;
    }
    #signup-root {
        margin: 0;
    }
}