#body-wrapper {
    height: 100vh;
    background-color: var(--color-white);
}

#body-inner {
    background-color: #fff;
    margin: auto;
    height: 100%;
    padding: 40px;
    max-width: 1600px;
}

@media only screen and (max-width: 600px) {
    #body-inner {
        padding: 10px;
    }
}