#body-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    background-color: var(--color-white);
}

#body-inner {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: auto;
    height: 100%;
    padding: 40px;
    max-width: 1600px;
}

@media only screen and (max-width: 600px) {
    #body-inner {
        padding: 10px;
    }
}