#swc-header-text {
    font-size: var(--font-size-header-lg);
    color: var(--color-font-white);
    margin: 20px auto 0 auto;
}

#header-and-buttongroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 20px 0 0;
    height:200px;
    border: "1px solid white";
}

#login-header-btn, #login-header-btn:hover {
    display: flex;
    border: none;
    color: #fff;
    text-transform: none;
    flex-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
    #swc-header-text {
        font-size: var(--font-size-header-md);
    }
}
@media screen and (max-width: 1000px) {
    #swc-header-text {
        font-size: var(--font-size-header-sm);
    }
}
@media screen and (max-width: 800px) {
    #swc-header-text {
        font-size: var(--font-size-header-xs);
    }
    #header-and-buttongroup {
        flex-grow: none;
        border: 1px solid white;
        align-items: center;
    }
}
@media only screen and (max-width: 600px) {
    #swc-header-text {
        font-size: var(--font-size-header-mobile);
        margin: 10px auto 10px auto;
    }
    #header-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.swc-select {

}