#header-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 140px;
    background-color: var(--color-theme-dark);
    width: 100%;
    align-items: flex-start;
    position: fixed;
    z-index: 10;
    border-bottom: 2px solid #fff;
}

#header-and-buttongroup {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: space-between;
}

#login-header-btn, #login-header-btn:hover {
    display: flex;
    border: none;
    color: #fff;
    text-transform: none;
    flex-wrap: nowrap;
}

#drawer .MuiDrawer-paperAnchorTop {
        background-color: var(--color-theme-dark);
        color:#fff
}

#language-collapse {
    background-color: var(--color-theme-dark2);
}

@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 800px) {

}
@media only screen and (max-width: 600px) {
    #button-group {
        padding: 0 10px;
    }
    #swc-header-text {
        align-self: center;
    }
    #header-wrapper {
        align-items: center;
    }
    #hss-logo {
        display: none;
    }
}