#mobile-booking-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    color: var(--color-theme-dark);
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 10px;
    justify-content: center;
}

#mobile-booking-class-name {
    display: flex;
    flex-direction: column;
}

#mobile-booking-class-name .mobile-booking-class-name-button {
    margin: 0 0 15px 0;
    width: 100%;
}

#mobile-selected-equipment .MuiTypography-root{
    padding:10px 10px;
    font-size: x-large;
    text-align: center;
}

#mobile .center {
    text-align: center;
}

#mobile .padding-y {
    padding: 10px 0;
}